<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Content </title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">

    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/about.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>   
</head>

<body>
    <header></header>
    <section class="hero">
        <h1>About Us</h1>
        <h3>Your partner in effective freight logistics solutions. We are committed to revolutionizing the transportation, management, and delivery of goods by offering tailored Freight and Transportation Coordination Solutions to meet your unique needs. Understanding the crucial role logistics plays in today’s competitive landscape, we serve both small businesses large corporations with strategic solutions designed to optimize your supply chain and reduce costs.</h3>
   
    </section>

    <section class="content-section">
        <div class="content-part">
            <h2>Who We Are</h2>
            <p>Freight Board Logistics' experienced team effectively meets transportation needs..</p>
        </div>
        <div class="image-part">
            <img src="/images/who-we-are.jpg" alt="Logistics Image">
        </div>
    </section>

    <section class="content-section">
        <div class="image-part">
            <img src="/images/what-we-do.jpg" alt="Technology Image">
        </div>
        <div class="content-part">
            <h2>What We Do</h2>
            <p>Connecting companies with trucks for optimized shipping solutions and offering tailored services for all business sizes.</p>

        </div>
    </section>

    <section class="content-section">
        <div class="content-part">
            <h2>Our Mission</h2>
            <p>Freight Board Logistics offers efficient logistics with timely deliveries. Trust us for expert transportation</p>

        </div>
        <div class="image-part">
            <img src="/images/mission.webp" alt="Logistics Image">
        </div>
    </section>
    


     <section class="content-section">
        <div class="image-part">
            <img src="/images/vission.jpg" alt="Technology Image">
        </div>
        <div class="content-part">
            <h2>Our Vission</h2>
            <p>We aim to improve shipping with innovation, technology, and excellent service timely deliveries and eco-friendly practices.</p>

        </div>
    </section>

    <footer></footer>
</body>

</html>