<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Transport</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">

    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>
    <section class="content-section">
        <div class="content-part">
            <h1>AUTO TRANSPORT</h1>
            <p>Freight Board Logistics Services is a premier logistics provider delivering efficient and
                reliable transportation solutions. Specializing in auto transport, we ensure your vehicles are
                handled with utmost care and delivered on time. Our experienced team leverages cutting-edge
                technology to provide a seamless shipping experience. Trust us for professional, expert
                logistics services tailored to your needs.</p>
        </div>
        <div class="image-part">
            <img src="/images/auto-transport.jpeg" alt="Logistics Image">
        </div>
    </section>
    <footer></footer>
</body>

</html>