<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSTRUCTION AND BUILDING MATERIALS </title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>CONSTRUCTION
                AND BUILDING MATERIALS</h1>
            <p>Freight Board Logistics Services offers tailored logistics solutions for the construction industry,
                ensuring and safe transportation of building materials. Our dedicated team guarantees timely deliveries
                to meet your project deadlines. Trust us to handle your logistics needs, allowing you to focus on
                building the future.</p>
        </div>
        <div class="image-part">
            <img src="/images/construction.webp" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>