<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTORIES AND MANUFACTURING</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>FACTORIES AND MANUFACTURING</h1>
            <p> Factories are vital to industry, needing efficient transport for materials and goods. At Freight Board
                Logistics Services, we connect manufacturers with reliable carriers to optimize supply chains, cut
                costs, and meet deadlines. Our tailored logistics solutions and commitment to service keep your
                production on track and your business progressing.</p>
        </div>
        <div class="image-part">
            <img src="/images/factories-manufacturing.jpg" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>