<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Freight</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/about.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>
</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>FARM FREIGHT</h1>
            <p>Freight Board Logistics Services offers customized logistics solutions for farm freight,
                specializing in cross-border transport between Canada and the USA. Our experienced team ensures safe and
                efficient delivery of your agricultural products, including temperature-controlled transport and
                specialized freight solutions.
                Trust us with your logistics so you can concentrate on growing your business.</p>
        </div>
        <div class="image-part">
            <img src="/images/farm freight.jpg" alt="farm-freight">
        </div>
    </section>

    <footer></footer>
</body>

</html>