<footer id="footer" class="footer">
    <link rel="stylesheet" href="../style/footer.css">
    <div class="footer-container">
        <div class="footer-column footer-logo">
            <img src="/images/logo.webp" alt="C.H. Robinson Logo">
            <p>Delivering innovative logistics solutions worldwide since 1905.</p>
        </div>
        <div class="footer-column">
            <h3>Explore</h3>
            <a href="/components/freight-and-logistics-solutions.html">Services</a>
            <a href="/components/about.html">About Us</a>
            <a href="/components/carriers.html">Careers</a>

        </div>
        <div class="footer-column">
            <h3>Contact</h3>
            <a>Las Vegas, Nevada, USA</a>
            <a>1(702) 899-8064</a>
            <p>Alberta, Canada</p>
            <p>1(780) 989-5154​</p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-social">
            <a href="https://linkedin.com" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
        </div>
        <p>© 2025 Freight Board Logistics Services. All rights reserved. <a href="/components/privacy-terms.html">Privacy Policy</a> | 
            <a href="/components/privacy-terms.html">Terms of Use</a></p>
    </div>
</footer>