<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTH CARE AND PHARMACEUTICAL EQUIPMENT</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>HEALTH CARE AND
                PHARMACEUTICAL EQUIPMENT</h1>
            <p>
                At Freight Board Logistics Services, we specialize in tailored logistics solutions for the health and
                pharmaceutical sectors. Our experienced team ensures reliable, efficient services with timely delivery
                and compliance. Trust us as your dedicated logistics partner, committed to excellence..</p>
        </div>
        <div class="image-part">
            <img src="/images/healthcare.jpg" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>