<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Shot</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>HOT SHOT</h1>
            <p>Welcome to Freight Board Logistics Services, your trusted partner for reliable logistics.
                We specialize in hot shot services, delivering time-sensitive shipments quickly and safely.
                Our dedicated team is here to offer exceptional customer service and customized logistics
                solutions to fit your needs. Streamline your logistics and improve your operations with us today!</p>
        </div>
        <div class="image-part">
            <img src="/images/hotshot.jpg" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>