<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textiles And Apparel</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>TEXTILES AND APPAREL</h1>
            <p>At Freight Board Logistics Services, we offer tailored logistics solutions for the textiles and apparel
                industry.
                Our dedicated team ensures timely and efficient shipment handling, using advanced technology to enhance
                your
                supply chain productivity.
                Trust us to simplify your logistics, allowing you to focus on your core business..</p>
        </div>
        <div class="image-part">
            <img src="/images/fabric.jpg" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>