<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timber And Logging Freight</title>

    <!-- CSS -->
    <!-- global -->
    <link rel="stylesheet" href="../style/global.css">
    <!-- page-specific -->
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/industries.css">
    <!-- JS -->
    <script src="../scripts/layout.js" type="module"></script>

</head>

<body>
    <header></header>

    <section class="content-section">
        <div class="content-part">
            <h1>TIMBER AND LODGGING</h1>
            <p>At Freight Board Logistics Services, we offer tailored logistics solutions to meet our clients' unique
                needs.
                Our dedicated team focuses on careful and efficient handling of goods, utilizing innovative technologies
                and
                industry expertise to streamline operations and enhance supply chain visibility.
                Trust us for reliable, timely, and cost-effective logistics services that keep your business moving</p>
        </div>
        <div class="image-part">
            <img src="/images/timber.jpg" alt="Logistics Image">
        </div>
    </section>

    <footer></footer>
</body>

</html>